# Dependencies
node_modules/
vendor/

# Expo / React Native
.expo/
dist/
web-build/
expo-env.d.ts
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
.metro-health-check*
/ios
/android

# Laravel
/.phpunit.cache
/bootstrap/ssr
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
/resources/js/actions
/resources/js/routes
/resources/js/wayfinder
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
/auth.json
/vendor/

# Local Environment
.env
.env*.local

# Debug / Logs
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# IDEs and Editors
.DS_Store
Thumbs.db
.vscode/
.idea/
.fleet/
.nova/
.zed/

# Misc
*.pem
*.tsbuildinfo
app-example/
